@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box !important;
  font-family: 'Poppins', sans-serif;
}

button {
  border: 0;
  outline: none;
  background: none;
}
a {
  text-decoration: none !important;
}

ul {
  list-style-type: none ;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: dodgerblue;
}